#list {
  .card {
    view-transition-class: card;

    &.clicked {
      .img {
        view-transition-name: card-img;
      }
      .card-title {
        view-transition-name: card-title;
      }
      .thumbs-up-icon {
        view-transition-name: thumbs-up-icon;
      }
      .applause-icon {
        view-transition-name: applause-icon;
      }
    }
  }
}

#list {
  container: list / size;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: [start-col] 0.85fr 0.15fr [content-start] 1fr [content-end] 0.15fr [away-column] 0.7fr [end-col] 0.15fr;
  grid-auto-rows: min-content 1fr;

  align-items: start;

  > * {
    grid-column: content-start / content-end;
    
    &.ignore-col-padding {
      grid-column: start-col / end-col;
    }

    &.away-column {
      grid-column: away-column / end-col;
    }
  }

  .img {
    will-change: filter;
    transition: filter 300ms;
  }
  .img:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }


  .card {
    transition: scale 0.1s ease-in-out;
    scale: 1;
    cursor: pointer;

    &:active {
      scale: 0.98;
    }
  }
}
