#details {
  .card {
    view-transition-class: card;

    .img {
      view-transition-name: card-img;
    }
    .card-title {
      view-transition-name: card-title;
    }
    .step-icon {
      view-transition-name: step-icon;
    }
    .thumbs-up-icon {
      view-transition-name: thumbs-up-icon;
    }
    .arrow-icon {
      view-transition-name: arrow-icon;
    }
  }
}






#details {
  container: details / size;
  display: flex;
  justify-content: center;

  .card {
    --padding: 4em;
    display: grid;
    grid-template-columns: [start-col] var(--padding) [content-start] 1fr [content-end] var(--padding) [end-col];
    grid-template-rows: var(--padding) 1fr var(--padding);
    grid-auto-rows: max-content;
    justify-items: center;
    align-items: center;

    > * {
      grid-column: content-start / content-end;
      
      &.ignore-col-padding {
        grid-column: start-col / end-col;
      }
    }

    .card-content {
      display: flex;
      gap: 2em;
  
      .card-title {
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 600;
      }
    }
  }
}
